theme "solarized-dark"
// theme "solarized-light"

pane_frames false

ui {
	pane_frames {
		rounded_corners true
		hide_session_name true
	}
}

keybinds {
	unbind "Ctrl b"
	// use ctrl-L instead
	// normal {
	// 	bind "Ctrl k" { Clear; }
	// }
	pane {
		bind "b" { TogglePaneFrames; }
	}

}
